In [1]:
import numpy as np
import pandas as pd

In [26]:
y = np.random.randint(2, size=(5000, 1))
x = np.random.randint(10, size=(5000, 1))
result = np.zeros(5000)

In [27]:
result

array([0., 0., 0., ..., 0., 0., 0.])

In [14]:
data = pd.DataFrame(data=np.concatenate([y, x], axis=1), columns=['y', 'x'])

In [18]:
groupby_result = data.groupby(['x'], as_index=False).agg(['mean', 'count'])

In [33]:
for i in range(data.shape[0]):
    groupby_result  = data[data.index!=i].groupby(['x'], as_index=False).agg(['mean', 'count'])
    result[i] = groupby_result.loc[groupby_result.index==data.loc[i, 'x'], ('y', 'mean')]

In [35]:
data['result'] = result

In [37]:
data

      y  x    result
0     1  3  0.474806
1     1  4  0.506329
2     0  4  0.508439
3     0  3  0.476744
4     0  4  0.508439
...  .. ..       ...
4995  1  9  0.507592
4996  0  4  0.508439
4997  0  2  0.457786
4998  1  8  0.504798
4999  1  5  0.486792

[5000 rows x 3 columns]